body {
    background-color: #fbd1a2;
}

p {

    font-size: 1.25em;
    font-family: 'Nunito Sans', sans-serif;
    /*weights: 300(light), 400(regular), 700(bold), 800*/
    font-weight: 400;
    color: #000000;
}

h1,
h2,
h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: #000000;
}

h1 {
    font-size: 100px;
}


.custom-btn {
    background-color: #f79256;
    color: #fffffe;
    border: 2px solid #d17c49;
}

.custom-btn2 {
    background-color: #7dcfb6;
    color: #000000;
    border: 2px solid #6aad99;
}

.custom-bg {
    background-color: #00b2ca;
}

.custom-bg2 {
    background-color: #7dcfb6;
}


hr {
    height: 20px;
    background-color: #7dcfb6;
}