{% extends 'faceapp/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}


    <div class="position-relative overflow-hidden">
        <div class="col-md-12 p-lg-5 my-5">
            <div class="row">
                <div class="col-6">
                    <div class="w-50">
                        <img class="img-fluid" src="{% static 'faceapp/images/undraw_team_re_0bfe.svg' %}" alt="People Image"/>
                    </div>
                </div>
                
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <div class="content">
                        <h1>Who do you look like?</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="container mt-4 mb-5">With almost one click, find out which celebrity out of 17 you are most similar to.</h3>
    

   <hr class="w-3 custom-bg2">
    <div class="position-relative overflow-hidden"> 
        <div class="col-md-12 p-lg-5 my-5">
            <div class="row">
                <div class="col-3">
                    <h3 class="ms-4">{{result_number}}</h3>
                    <p>Number of <br> processed <br> requests</p>
                </div>
                
                <div class="col-9 d-flex align-items-center justify-content-center">
                    <div class="content flex-container">
                        <p>Graf</p>
                        <div class="btn-group" role="group" aria-label="Age Selection">
                            <button type="button" class="btn btn-primary" data-age="15-25">15-25</button>
                            <button type="button" class="btn btn-primary" data-age="26-40">26-40</button>
                            <button type="button" class="btn btn-primary" data-age="41-55">41-55</button>
                            <button type="button" class="btn btn-primary" data-age="55+">55+</button>
                          </div>

                        <div style="width: 500px; height: auto;" id="chart">
                            {{ graph_div|safe }}
                        </div>
                        
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                        $('.btn-group > .btn').click(function() {
                            var selectedAge = $(this).data('age');
                            window.location.href = '?age=' + selectedAge;
                        });
                    });
                </script>
               
            </div>
        </div>
    </div>
    <hr class="h-3 custom-bg2">


    <div class="position-relative overflow-hidden">
        <div class="col-md-12 p-lg-5 my-5">
            <div class="row">
                <div class="col-8">
                    <h3 class="mb-4">How to use the application?</h3>
                    <p class="">1. Upload image by drag and drop or url.</p>
                    <p class="">2. Write the age of the person in the picture</p>
                    <p class="">3. Click the Get Result button</p> 
                </div>
                
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="{% static 'faceapp/images/undraw_experts_re_i40h.svg' %}" alt="People photo image"/>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-5 shadow-lg mb-5 bg-body rounded">
        <div class="card-header custom-bg">
          <h5>Where magic happens...</h5>
        </div>
        <div class="card-body mt-4">
          

            <form action="{% url 'faceapp:post_user_data' %}" method="POST" enctype="multipart/form-data"> 
                <div class="form-group mt-5">
                {% csrf_token %}
                
                {{ form.as_p }}
                    
                    <div class="row mt-4 text-center mb-5">
                        <div >
                            <input type="submit" value="Get Result" class="custom-btn btn px-4 py-2 shadow">
                        </div>
                    </div>
                </div>
            </form>

        </div>      
    </div>


    <div class="position-relative overflow-hidden mt-5"> 
        <div class="col-md-12 p-lg-5 my-5">
            <div class="row">
                <div class="col-4">
                        
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17"></button>
                        </div>
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'faceapp/images/carousel_img/AngelinaJ.jpg' %}" class="d-block w-100" alt="Angelina Jolie">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Angelina Jolie</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/BradP.jpg' %}" class="d-block w-100" alt="Brad Pitt">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Brad Pitt</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/DenzelW.jpg' %}" class="d-block w-100" alt="Denzel Washington">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Denzel Washington</h5>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <img src="{% static 'faceapp/images/carousel_img/HughJ.jpg' %}" class="d-block w-100" alt="Hugh Jackman">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Hugh Jackman</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/JenniferL.jpg' %}" class="d-block w-100" alt="Jennifer Lawrence">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Jennifer Lawrence</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/JohnnyD.jpg' %}" class="d-block w-100" alt="Johnny Depp">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Johnny Depp</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/KateW.jpg' %}" class="d-block w-100" alt="Kate Winslet">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Kate Winslet</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/LeonardoDC.jpg' %}" class="d-block w-100" alt="Leonardo DiCaprio">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Leonardo DiCaprio</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/MeganF.jpg' %}" class="d-block w-100" alt="Megan Fox">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Megan Fox</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/NatalieP.jpg' %}" class="d-block w-100" alt="Natalie Portman">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Natalie Portman</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/NicoleK.jpg' %}" class="d-block w-100" alt="Nicole Kidman">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Nicole Kidman</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/RobertDJr.jpg' %}" class="d-block w-100" alt="Robert Downey Jr">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Robert Downey Jr</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/SandraB.jpg' %}" class="d-block w-100" alt="Sandra Bullock">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Sandra Bullock</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/ScarlettJ.jpg' %}" class="d-block w-100" alt="Scarlett Johansson">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Scarlett Johansson</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/TomC.jpg' %}" class="d-block w-100" alt="Tom Cruise">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Tom Cruise</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/TomH.jpg' %}" class="d-block w-100" alt="Tom Hanks">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Tom Hanks</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'faceapp/images/carousel_img/WillS.jpg' %}" class="d-block w-100" alt="Will Smith">
                            <div class="carousel-caption d-none d-md-block">
                            <h5 class="bg-secondary">Will Smith</h5>
                            </div>
                        </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                
                </div>
                
                <div class="col-8 d-flex align-items-center justify-content-center">
                    <div class="content row">
                        <div class="col-2 ms-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                            </svg>
                        </div>
                        <div class="col-6"><h2>Here are all 17 celebrities you can look like.</h2></div>
                        <div class="mt-4 ms-4">
                            <p>The model does a completely accurate classification for those 17 celebrities, 
                            and in the case of submitting your own picture, you will get a probability of belonging to one 
                            of those 17 classes, which should not be taken literally as a match percentage, but means that 
                            you have the highest match of those 17 celebrities.</p>
                            <p>It should also be noted that the result depends on the light and the angle from which the 
                            picture is taken.</p></div>
                    </div>   
                    
                </div>
            </div>
        </div>
    </div>
        
  
{% endblock %}