{% extends 'faceapp/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}


    <div class="position-relative overflow-hidden">
        <div class="col-md-12 p-lg-5 my-5">
            <div class="row">
                <div class="col-6">
                    <div class="w-50">
                        <img class="img-fluid" src="{% static 'faceapp/images/undraw_team_re_0bfe.svg' %}" alt="People Image"/>
                    </div>
                </div>
                
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <div class="content">
                        <h1>Who do you look like?</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="container h3">With almost one click, find out which celebrity out of 17 you are most similar to.</p>

   <hr class="w-3 custom-bg2">
    <div class="position-relative overflow-hidden "> <!--ili stavi samo horizontalnne linije te boje-->
        <div class="col-md-12 p-lg-5 my-5">
            <div class="row">
                <div class="col-3">
                    <h3>{{result_number}}</h3>
                    <p>Number of requests processed</p>
                </div>
                
                <div class="col-9 d-flex align-items-center justify-content-center">
                    <div class="content">
                        <p>Graf</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="h-3 custom-bg2">


    <div class="position-relative overflow-hidden">
        <div class="col-md-12 p-lg-5 my-5">
            <div class="row">
                <div class="col-9">
                    <p class="">How to use the application?</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1. Upload image by drag and drop or url.</li>
                        <li class="list-group-item">2. Write the age of the person in the picture</li>
                        <li class="list-group-item">3. Click the Get Result button</li>
                    </ul>
                </div>
                
                <div class="col-3 d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="{% static 'faceapp/images/undraw_experts_re_i40h.svg' %}" alt="People photo image"/>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-5">
        <div class="card-header custom-bg">
          Where magic happens...
        </div>
        <div class="card-body">


            <form action="{% url 'faceapp:post_user_data' %}" method="post"> 
                <div class="form-group">
                {% csrf_token %}
                {% include 'faceapp/form.html' with form=form %}
        
                <div class="row mt-4 text-center mb-5">
                    <div clss="col-md-8 ms-2">
                        <input type="submit" value="Get Result" class="custom-btn btn px-4 py-2">
                    </div>
                </div>
                </div>
            </form>
        </div>      
    </div>




    <div class="mt-5 w-25">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Angelina Jolie">
                <div class="carousel-caption d-none d-md-block">
                <h5>Angelina Jolie</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_male_avatar_g98d.svg' %}" class="d-block w-100" alt="Brad Pitt">
                <div class="carousel-caption d-none d-md-block">
                <h5>Brad Pitt</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Denzel Washington">
                <div class="carousel-caption d-none d-md-block">
                <h5>Denzel Washington</h5>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Hugh Jackman">
                <div class="carousel-caption d-none d-md-block">
                <h5>Hugh Jackman</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Jennifer Lawrence">
                <div class="carousel-caption d-none d-md-block">
                <h5>Jennifer Lawrence</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Johnny Depp">
                <div class="carousel-caption d-none d-md-block">
                <h5>Johnny Depp</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Kate Winslet">
                <div class="carousel-caption d-none d-md-block">
                <h5>Kate Winslet</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Leonardo DiCaprio">
                <div class="carousel-caption d-none d-md-block">
                <h5>Leonardo DiCaprio</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Megan Fox">
                <div class="carousel-caption d-none d-md-block">
                <h5>Megan Fox</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Natalie Portman">
                <div class="carousel-caption d-none d-md-block">
                <h5>Natalie Portman</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Nicole Kidman">
                <div class="carousel-caption d-none d-md-block">
                <h5>Nicole Kidman</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Robert Downey Jr">
                <div class="carousel-caption d-none d-md-block">
                <h5>Robert Downey Jr</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Sandra Bullock">
                <div class="carousel-caption d-none d-md-block">
                <h5>Sandra Bullock</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Scarlett Johansson">
                <div class="carousel-caption d-none d-md-block">
                <h5>Scarlett Johansson</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Tom Cruise">
                <div class="carousel-caption d-none d-md-block">
                <h5>Tom Cruise</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Tom Hanks">
                <div class="carousel-caption d-none d-md-block">
                <h5>Tom Hanks</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'faceapp/images/undraw_female_avatar_efig.svg' %}" class="d-block w-100" alt="Will Smith">
                <div class="carousel-caption d-none d-md-block">
                <h5>Will Smith</h5>
                </div>
            </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

  

{% endblock %}